*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Roboto', sans-serif;
}

img{
    width: 100%;
}

.wrap{
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('imgs/mobile-bg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow:hidden;
}
header{
    .logo{
        margin-left: 1em;
        width: 10em;
    }
}
.offer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .txt{
        width: 20em;
    }
    .gonzo{
        width: 22em;
    }
}

footer{
    width: 100vw;
    margin-top: auto;
    padding: 1em .5em;
    display: grid;
    grid-template-columns: .5fr .5fr 3fr;
    align-items: center;
    .ga18{
        width: 3em;
    }
    .ga{
        width: 6em;
    }
    .terms{
        margin-left: 1em;
        font-size: .6em;
        text-transform: uppercase;
        line-height: 1.2em;;
    }
    color: #fff;
    background: #161416;
}

@media only screen and (max-width:320px){
    .offer{
        .txt{
            width: 15em;
        }
        .gonzo{
            width: 17em;
        }
    }
    footer{
        .ga18{
            width: 2em;
        }
        .ga{
            width: 5em;
        }
        .terms{
            font-size: .5em;
        }
    }
}